
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
  padding: 2px;
  -moz-appearance: toolbar;
  -moz-box-align: center;
  overflow: hidden;
  font-size: 1.5em !important; /* Added for better visibility on 2K/4K monitors */
}

.mode-line label[value=""] {
  display: none;
}
